<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.arymax.katana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">

        <receiver android:name=".broadcastreceiver.NotificationReceiver">
            <intent-filter>
                <action android:name="br.org.arymax.katana.intent.ACTION_NOTIFICATE_USER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcastreceiver.StartServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.org.arymax.katana.intent.ACTION_START_NOTIFICATION_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".http.NotificationService"
            android:exported="false"
            android:enabled="true" />

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".activity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.QuestionActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activity.SearchActivity" />
    </application>

</manifest>