<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.arymax.katana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="br.org.arymax.katana.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="br.org.arymax.katana.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">

        <service android:name=".gcm.service.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".gcm.service.InstanceIdService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.NotificationReceiver">
            <intent-filter>
                <action android:name="br.org.arymax.katana.intent.ACTION_NOTIFICATE_USER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.StartServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.org.arymax.katana.intent.ACTION_START_NOTIFICATION_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".http.NotificationService"
            android:exported="false"
            android:enabled="true" />

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".activity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.QuestionActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activity.SearchActivity" />
    </application>

</manifest>